@import "https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic|Noto+Sans&display=swap";
:root {
  --#{$prefix}body-font-family: "Noto Naskh Arabic", "Noto Sans", sans-serif;
}

.component {
  border-radius: 1em;
  box-shadow: none;
}

.logo {
  height: 32px;
}
